USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[GIATRUCTUYEN]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIATRUCTUYEN](
	[MACP] [char](7) NOT NULL,
	[GIAMUA2] [float] NULL CONSTRAINT [DF_GIATRUCTUYEN_GIAMUA2]  DEFAULT ((0)),
	[KLMUA2] [int] NULL CONSTRAINT [DF_GIATRUCTUYEN_KLMUA2]  DEFAULT ((0)),
	[GIAMUA1] [float] NULL CONSTRAINT [DF_GIATRUCTUYEN_GIAMUA1]  DEFAULT ((0)),
	[KLMUA1] [int] NULL CONSTRAINT [DF_GIATRUCTUYEN_KLMUA1]  DEFAULT ((0)),
	[GIAKHOP] [float] NULL CONSTRAINT [DF_GIATRUCTUYEN_GIAKHOP]  DEFAULT ((0)),
	[KLKHOP] [int] NULL CONSTRAINT [DF_GIATRUCTUYEN_KLKHOP]  DEFAULT ((0)),
	[GIABAN1] [float] NULL CONSTRAINT [DF_GIATRUCTUYEN_GIABAN1]  DEFAULT ((0)),
	[KLBAN1] [int] NULL CONSTRAINT [DF_GIATRUCTUYEN_KLBAN1]  DEFAULT ((0)),
	[GIABAN2] [float] NULL CONSTRAINT [DF_GIATRUCTUYEN_GIABAN2]  DEFAULT ((0)),
	[KLBAN2] [int] NULL CONSTRAINT [DF_GIATRUCTUYEN_KLBAN2]  DEFAULT ((0)),
 CONSTRAINT [PK_GIATRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [char](7) NULL,
	[NGAYDAT] [datetime] NULL CONSTRAINT [DF_LENHDAT_NGAYDAT]  DEFAULT (getdate()),
	[LOAIGD] [nchar](1) NULL,
	[LOAILENH] [nchar](10) NULL,
	[SOLUONG] [int] NULL,
	[GIADAT] [float] NULL,
	[TRANGTHAILENH] [nvarchar](30) NULL CONSTRAINT [DF_LENHDAT_TRANGTHAILENH]  DEFAULT (N'Chờ khớp'),
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NULL CONSTRAINT [DF_LENHKHOP_NGAYKHOP]  DEFAULT (getdate()),
	[SOLUONGKHOP] [int] NULL,
	[GIAKHOP] [float] NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[GIATRUCTUYEN] ([MACP], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIAKHOP], [KLKHOP], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2]) VALUES (N'ACB    ', 0, 0, 0, 0, 1000, 1000, 900, 500, 0, 0)
INSERT [dbo].[GIATRUCTUYEN] ([MACP], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIAKHOP], [KLKHOP], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2]) VALUES (N'DUONG  ', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[GIATRUCTUYEN] ([MACP], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIAKHOP], [KLKHOP], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2]) VALUES (N'HAU    ', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (1, N'ACB    ', CAST(N'2020-04-02 09:56:28.727' AS DateTime), N'M', N'LO        ', 1000, 9000, N'Huỷ')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (2, N'ACB    ', CAST(N'2020-04-02 09:57:17.753' AS DateTime), N'M', N'LO        ', 1234, 11000, N'Huỷ')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (3, N'ACB    ', CAST(N'2020-04-02 09:57:27.093' AS DateTime), N'M', N'LO        ', 1000, 11000, N'Huỷ')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (12, CAST(N'2020-02-04 00:00:00.000' AS DateTime), 1000, 9500, 7)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (13, CAST(N'2020-02-04 00:00:00.000' AS DateTime), 1000, 9500, 7)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (14, CAST(N'2020-02-04 00:00:00.000' AS DateTime), 1000, 9500, 7)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
ALTER TABLE [dbo].[GIATRUCTUYEN]  WITH CHECK ADD  CONSTRAINT [CK_GIATRUCTUYEN] CHECK  (([KLMUA2]>=(0) AND [GIAMUA1]>=(0) AND [KLMUA1]>=(0) AND [GIAKHOP]>=(0) AND [KLKHOP]>=(0) AND [GIABAN1]>=(0) AND [KLBAN1]>=(0) AND [GIABAN2]>=(0) AND [KLBAN2]>=(0) AND [GIAMUA2]>=(0)))
GO
ALTER TABLE [dbo].[GIATRUCTUYEN] CHECK CONSTRAINT [CK_GIATRUCTUYEN]
GO
/****** Object:  StoredProcedure [dbo].[CursorGetLenhDat]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorGetLenhDat]
  @OutCrsr CURSOR VARYING OUTPUT, @LoaiGD CHAR, @macp CHAR( 7) 
AS
SET DATEFORMAT DMY 
DECLARE @Ngay as NVARCHAR(10) = (SELECT CONVERT(nvarchar(10), getdate(), 103))--lấy thời điểm hiện tại
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT TOP 2 Sum(SOLUONG) as TONGSOLUONG , GIADAT FROM LENHDAT 
	Where MACP=@macp 
	AND DAY(NGAYDAT)=DAY(@Ngay) AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)
	AND LOAIGD='M' and SOLUONG > 0 and TRANGTHAILENH <> N'Huỷ'
	Group By GiaDat
    ORDER BY GIADAT DESC
ELSE
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT TOP 2 Sum(SOLUONG) as TONGSOLUONG , GIADAT FROM LENHDAT 
	Where MACP=@macp 
	AND DAY(NGAYDAT)=DAY(@Ngay) AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)
	AND LOAIGD='B' and SOLUONG > 0 and TRANGTHAILENH <> N'Huỷ'
	Group By GiaDat
    ORDER BY GIADAT ASC
OPEN @OutCrsr
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 50),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID,NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT 
ELSE IF(@LoaiGD='B')
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID,NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT, NGAYDAT 
OPEN @OutCrsr


GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROC [dbo].[SP_KHOPLENH_LO]
 @macp NVARCHAR( 10),  @LoaiGD CHAR, 
 @soluongMB INT, @giadatMB FLOAT 
AS
DECLARE @Ngay as NVARCHAR(50) = (SELECT CONVERT(nvarchar(10), getdate(), 103))--lấy thời điểm hiện tại
SET DATEFORMAT DMY
DECLARE @CrsrVar CURSOR ,@id INT,@ngaydat NVARCHAR( 50), @soluong INT, @giadat FLOAT,  @soluongkhop INT, @giakhop FLOAT,@test int
SET @test=@soluongMB
 IF (@LoaiGD='B')
   EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'M'
 ELSE 
  EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'B'
  
FETCH NEXT FROM @CrsrVar  INTO  @id,@ngaydat , @soluong , @giadat 
--SELECT @ngaydat , @soluong , @giadat
WHILE (@@FETCH_STATUS <> -1 AND @soluongMB >0)
BEGIN

 IF  (@LoaiGD='B' )
   IF  (@giadatMB <= @giadat)
   BEGIN
     IF @soluongMB >= @soluong

     BEGIN
       SET @soluongkhop = @soluong
       SET @giakhop = @giadat
       SET @soluongMB = @soluongMB - @soluong
	  
	  INSERT INTO dbo.LENHKHOP VALUES (GETDATE(), @soluongkhop, @giakhop,@id)

       UPDATE dbo.LENHDAT  
		SET SOLUONG=0, TRANGTHAILENH='KHOPHET'
        
         WHERE CURRENT OF @CrsrVar

		  
     END
	 ----
     ELSE
	 ------------
	 --------------
	 BEGIN
       SET @soluongkhop = @soluongMB
       SET @giakhop = @giadat
       
	    INSERT INTO dbo.LENHKHOP VALUES (GETDATE(), @soluongkhop, @giakhop,@id)

       UPDATE dbo.LENHDAT  
         SET SOLUONG = SOLUONG - @soluongMB,TRANGTHAILENH='KHOPMOTPHAN'
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
	   ---------------------
	   	
	    END


	-- SELECT @ngaydat,@soluongkhop, @giakhop,@id

     --- Cập nhật table LENHKHOP
    
END


	
    
 
	 

ELSE

 IF(@giadatMB > @giadat)
	 BEGIN
		INSERT INTO dbo.LENHDAT VALUES(@macp,GETDATE(),@LoaiGD,'LO',@soluongMB,@giadatMB,'CHOKHOP')
		SET @soluongMB= -1
END
----------------

IF  (@LoaiGD='M')
   IF  (@giadatMB >= @giadat)
   BEGIN
     IF @soluongMB >= @soluong

     BEGIN
       SET @soluongkhop = @soluong
       SET @giakhop = @giadatMB
       SET @soluongMB = @soluongMB - @soluong
	  
	  INSERT INTO dbo.LENHKHOP VALUES (GETDATE(), @soluongkhop, @giakhop,@id)

       UPDATE dbo.LENHDAT  
		SET SOLUONG=0, TRANGTHAILENH='KHOPHET'
        
         WHERE CURRENT OF @CrsrVar

		  
     END
	 ----
     ELSE
	 ------------
	 --------------
	 BEGIN
       SET @soluongkhop = @soluongMB
       SET @giakhop = @giadatMB
       
	    INSERT INTO dbo.LENHKHOP VALUES (GETDATE(), @soluongkhop, @giakhop,@id)

       UPDATE dbo.LENHDAT  
         SET SOLUONG = SOLUONG - @soluongMB,TRANGTHAILENH='KHOPMOTPHAN'
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
	   ---------------------
	   	
	    END


	-- SELECT @ngaydat,@soluongkhop, @giakhop,@id

     --- Cập nhật table LENHKHOP
    
END

ELSE

 IF(@giadatMB < @giadat)
	 BEGIN
		INSERT INTO dbo.LENHDAT VALUES(@macp,GETDATE(),@LoaiGD,'LO',@soluongMB,@giadatMB,'CHOKHOP')
		SET @soluongMB=0
END



     -- Còn Trường hợp lệnh gởi vào là lệnh mua
	 FETCH NEXT FROM @CrsrVar INTO  @id,@ngaydat , @soluong , @giadat 
END
if(@test = @soluongMB)
BEGIN
INSERT INTO dbo.LENHDAT VALUES(@macp,GETDATE(),@LoaiGD,'LO',@soluongMB,@giadatMB,'CHOKHOP')
END

IF(@soluongMB > 0 and @test <> @soluongMB)
BEGIN
	INSERT INTO dbo.LENHDAT VALUES(@macp,GETDATE(),@LoaiGD,'LO',@soluongMB,@giadatMB,'CHOKHOP')
END

select @soluongMB  
THOAT:
    CLOSE @CrsrVar
    DEALLOCATE @CrsrVar


GO
/****** Object:  StoredProcedure [dbo].[SP_ResetLenhDat]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Khi tạo cổ phiếu mới thì tạo luôn nó trong bảng giá để tránh trường hợp cổ phiếu ko tồn tại trong bảng giá
Create PROC [dbo].[SP_ResetLenhDat]
AS
SET DATEFORMAT DMY
DECLARE @Ngay as NVARCHAR(10) = (SELECT CONVERT(nvarchar(10), getdate(), 103))--lấy thời điểm hiện tại
UPDATE dbo.LENHDAT SET TRANGTHAILENH=N'Huỷ'
				  WHERE DATEDIFF(day, @Ngay, NGAYDAT) < 0
					   and SOLUONG > 0 
					   and TRANGTHAILENH <> N'Huỷ'
GO
/****** Object:  StoredProcedure [dbo].[SP_ResetPhienGD]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Khi tạo cổ phiếu mới thì tạo luôn nó trong bảng giá để tránh trường hợp cổ phiếu ko tồn tại trong bảng giá
CREATE PROC [dbo].[SP_ResetPhienGD]
AS
DECLARE @MyCursor CURSOR, @MACP CHAR(7) 
SET DATEFORMAT DMY 
DECLARE @Ngay as NVARCHAR(10) = (SELECT CONVERT(nvarchar(10), getdate(), 103))--lấy thời điểm hiện tại
--Khai bao table de lay lenh khop moi nhat
DECLARE @LenhKhopMoiNhat TABLE( MACP CHAR(7),
								SOLUONGKHOP INT,
								GIAKHOP FLOAT);
--Huỷ lệnh chưa khớp của hôm qua
EXEC SP_ResetLenhDat
--Khai bao cursor de lay danh sach ma co phieu trong bang gia
SET @MyCursor=CURSOR KEYSET FOR SELECT MACP FROM GIATRUCTUYEN
OPEN @MyCursor
FETCH NEXT FROM @MyCursor INTO @MACP

While(@@FETCH_STATUS <> -1)
BEGIN
	--UPDATE lenh dat tot nhat vao bang gia
	EXEC SP_UpdateBangGiaTuLenhDat  'M' , @MACP
	EXEC SP_UpdateBangGiaTuLenhDat  'B' , @MACP

	--UPDATE lenh khop moi nhat vao bang gia
	INSERT INTO @LenhKhopMoiNhat SELECT TOP 1 MACP,SOLUONGKHOP,GIAKHOP FROM LENHKHOP,LENHDAT 
		Where LENHKHOP.IDLENHDAT = LENHDAT.ID and LENHDAT.MACP=@MACP
		AND DAY(NGAYKHOP)=DAY(@Ngay) AND MONTH(NGAYKHOP)= MONTH(@Ngay) AND YEAR(NGAYKHOP)=YEAR(@Ngay)
		ORDER BY NGAYKHOP DESC
	IF EXISTS(SELECT MACP FROM @LenhKhopMoiNhat)
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
						 SET GIAKHOP=(SELECT GIAKHOP FROM @LenhKhopMoiNhat),
							KLKHOP=(SELECT SOLUONGKHOP FROM @LenhKhopMoiNhat)
						 WHERE MACP=@MACP
			DELETE FROM @LenhKhopMoiNhat Where MACP=@MACP
		END
	ELSE
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
						 SET GIAKHOP=0,
							KLKHOP=0
						 WHERE MACP=@MACP
		END

	FETCH NEXT FROM @MyCursor  INTO @MACP
END
CLOSE @MyCursor
DEALLOCATE @MyCursor
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBangGiaTuLenhDat]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Khi tạo cổ phiếu mới thì tạo luôn nó trong bảng giá để tránh trường hợp cổ phiếu ko tồn tại trong bảng giá
CREATE PROC [dbo].[SP_UpdateBangGiaTuLenhDat] @LoaiGD NCHAR(1),@macp CHAR(7)
AS
DECLARE @CrsrVar CURSOR , @soluong INT, @giadat FLOAT
IF (@LoaiGD='M')
  EXEC CursorGetLenhDat  @CrsrVar OUTPUT, 'M', @macp
ELSE 
  EXEC CursorGetLenhDat  @CrsrVar OUTPUT, 'B', @macp

FETCH NEXT FROM @CrsrVar  INTO @soluong , @giadat
--Khi cursor tra ve rong
IF(@@FETCH_STATUS = -1)
BEGIN
	If(@LoaiGD='M')
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLMUA1 = 0, GIAMUA1=0,KLMUA2 = 0, GIAMUA2=0
				 WHERE MACP=@macp
		END
	ELSE
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLBAN1 = 0, GIABAN1=0,KLBAN2 = 0, GIABAN2=0
				 WHERE MACP=@macp
		END
END

--Khi dong 1 co du lieu
IF(@@FETCH_STATUS <> -1)
BEGIN
	If(@LoaiGD='M')
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLMUA1 = @soluong, GIAMUA1=@giadat
				 WHERE MACP=@macp
		END
	ELSE
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLBAN1 = @soluong, GIABAN1=@giadat
				 WHERE MACP=@macp
		END
END

FETCH NEXT FROM @CrsrVar  INTO @soluong , @giadat
--Khi dong 2 khong co du lieu
IF(@@FETCH_STATUS = -1)
BEGIN
	If(@LoaiGD='M')
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLMUA2 = 0, GIAMUA2=0
				 WHERE MACP=@macp
		END
	ELSE
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLBAN2 = 0, GIABAN2=0
				 WHERE MACP=@macp
		END
END
--Khi dong 2 co du lieu
IF(@@FETCH_STATUS <> -1)
BEGIN
	If(@LoaiGD='M')
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLMUA2 = @soluong, GIAMUA2=@giadat
				 WHERE MACP=@macp
		END
	ELSE
		BEGIN
			UPDATE dbo.GIATRUCTUYEN  
				 SET KLBAN2 = @soluong, GIABAN2=@giadat
				 WHERE MACP=@macp
		END
END
CLOSE @CrsrVar
DEALLOCATE @CrsrVar

GO
/****** Object:  Trigger [dbo].[TR_AfterDelete_LENHDAT]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER  [dbo].[TR_AfterDelete_LENHDAT] 
   ON  [dbo].[LENHDAT] 
   AFTER DELETE 
AS 
BEGIN
DECLARE @LOAIGD as NCHAR(1) = (SELECT LOAIGD FROM deleted) , @MACP AS CHAR(7) = (SELECT MACP FROM deleted)
    EXEC SP_UpdateBangGiaTuLenhDat  @LOAIGD, @MACP
END

GO
/****** Object:  Trigger [dbo].[TR_AfterInsert_LENHDAT]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[TR_AfterInsert_LENHDAT] 
   ON  [dbo].[LENHDAT] 
   AFTER INSERT 
AS 
BEGIN
DECLARE @LOAIGD as NCHAR(1) = (SELECT LOAIGD FROM inserted) , @MACP AS CHAR(7) = (SELECT MACP FROM inserted)
    EXEC SP_UpdateBangGiaTuLenhDat  @LOAIGD, @MACP
END

GO
/****** Object:  Trigger [dbo].[TR_AfterUpdate_LENHDAT]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[TR_AfterUpdate_LENHDAT] 
   ON  [dbo].[LENHDAT] 
   AFTER UPDATE
AS 
BEGIN
DECLARE @Ngay as NVARCHAR(10) = (SELECT CONVERT(nvarchar(10), getdate(), 103))--lấy thời điểm hiện tại
IF UPDATE(SOLUONG)
BEGIN
DECLARE @LOAIGD_DELETED as NCHAR(1) = (SELECT LOAIGD FROM deleted) , @MACP_DELETED AS CHAR(7) = (SELECT MACP FROM deleted)
    EXEC SP_UpdateBangGiaTuLenhDat  @LOAIGD_DELETED, @MACP_DELETED
DECLARE @LOAIGD_INSERTED as NCHAR(1) = (SELECT LOAIGD FROM inserted) , @MACP_INSERTED AS CHAR(7) = (SELECT MACP FROM inserted)
   EXEC SP_UpdateBangGiaTuLenhDat  @LOAIGD_INSERTED, @MACP_INSERTED
end
END

GO
/****** Object:  Trigger [dbo].[TR_AfterInsert_LENHKHOP]    Script Date: 2020-06-05 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[TR_AfterInsert_LENHKHOP] 
   ON  [dbo].[LENHKHOP] 
   AFTER INSERT 
AS 
BEGIN
	DECLARE @SOLUONGKHOP as INT = (SELECT SOLUONGKHOP FROM inserted) , @IDLENHDAT AS int = (SELECT IDLENHDAT FROM inserted), @GIAKHOP AS Float = (SELECT GIAKHOP FROM inserted)
	DECLARE @MACP AS NVARCHAR(7) = (SELECT MACP FROM LENHDAT WHERE LENHDAT.ID=@IDLENHDAT)

	UPDATE GIATRUCTUYEN SET KLKHOP = @SOLUONGKHOP,GIAKHOP= @GIAKHOP
	WHERE MACP=@MACP

END

GO
